.web-im-chatWindow {
  position: absolute;
  top: 0;
  right: 0;
  left: 61px;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  .web-im-contact {
    width: 220px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
     border-right: 1px solid #f2f2f2;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
  }
}
